html, body {
  height: 100%;
}

body {
  background-color: #ececec;
}

.main {
  position: relative;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 5px;
}

.header {
  color: #000000;
  background: #ffd54f;
  grid-row: 1;
  grid-column: 1 / span 2; 
}

.card {
  background-color: #fff;

  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

}

.x-box {
  display: none;
}

.y-box {
  display: none;
}
